beautifulsoup4 # tushare require
lxml # tushare require
xlrd # tushare require
requests # tushae require
pandas==0.20.1
backtrader
tushare
arctic
WeRoBot==1.1.1
gevent
easytrader==0.12.3
demjson==2.2.4
retrying==1.3.3
